	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%=common%></title>
    <meta name="keywords" content="元吉" />
    <meta name="description" content="元吉" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1.0,user-scalable=no" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="apple-touch-icon" href="/images/ios_logo.png"/>
    <meta name="apple-mobile-web-app-title" content="元吉官网">
    <!--[if lte IE 9]><script type="text/javascript" src="/inc/html5shiv.min.js"></script><![endif]-->