<!DOCTYPE html>
<html lang="en">

<head>
    <%include comm/head.html%>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="index">
    <%include comm/top.html%>
    <section class="bao">
        <section class="banner mar">
            <div class="banner_01">
            </div>
            <div class="banner_02">
            </div>
            <div class="banner_03">
            </div>
            <div class="banner_04">
            </div>
        </section>
        <section class="marketing">
            <h2>高效的移动互联网营销</h2>
            <p>低于传统竞价广告几倍的成本，只按目标客户有效阅读后收费全主流移动社交平台投放营销。</p>
            <div class="phone"></div>
        </section>
        <section class="spread">
            <h2>病毒裂变式传播方式</h2>
            <p>由真实用户发起的传播行为，将有效的内容传播<br/>到需求用户手中，实现1传N到N传N<br/>实现N次方的传播速度。</p>
            <div class="phone">
                <div class="phone_bg"></div>
                <div class="phone_01"></div>
                <div class="phone_02"></div>
                <div class="phone_03"></div>
                <div class="phone_line"></div>
                <ul class="phone_ul">
                    <li class="tu_1 hide"></li>
                    <li class="tu_2 hide"></li>
                    <li class="tu_3 hide"></li>
                    <li class="tu_4 hide"></li>
                    <li class="tu_5 hide"></li>
                    <li class="tu_6 hide"></li>
                    <li class="tu_7 hide"></li>
                    <li class="tu_8 hide"></li>
                    <li class="tu_9 hide"></li>
                    <li class="tu_10 hide"></li>
                    <li class="tu_11 hide"></li>
                    <li class="tu_12 hide"></li>
                    <li class="tu_13 hide"></li>
                    <li class="tu_14 hide"></li>
                </ul>
            </div>
        </section>
        <section class="ad">
            <h2><span></span><p>商家广告高效传播平台</p><span></span></h2>
            <ul>
                <li class="ad_li1">
                    <div></div>
                    <p>多项目投放</p>
                </li>
                <li class="ad_li2">
                    <div></div>
                    <p>多项目投放</p>
                </li>
                <li class="ad_li3">
                    <div></div>
                    <p>多项目投放</p>
                </li>
                <li class="ad_li4">
                    <div></div>
                    <p>多项目投放</p>
                </li>
            </ul>
        </section>
        <section class="data">
            <p>CPR计费,不仅有量还有质<br/>按目标客户有效阅读付费<br/>多技术手段保障广告投放效果</p>
            <div class="data_bg"></div>
            <div class="data_color"></div>
            <div class="data_lef"></div>
            <div class="data_rig"></div>    
        </section>
        <%include comm/footer.html%>
    </section>
</body>

    <script type="text/javascript" src="/inc/zepto.min.js"></script>
    <script type="text/javascript" src="/inc/fx.js"></script>
    <script type="text/javascript" src="/inc/fx_methods.js"></script>
    <script type="text/javascript" src="/jq/userControl.js"></script>
    <script type="text/javascript" src="/jq/landscape_mask.js"></script>
    <script type="text/javascript" src="/jq/mobile_stop_moved.js"></script>
    <script type="text/javascript" src="/jq/index.js"></script>
    <script type="text/javascript">
    $(function() {
        index.init();
    });
    </script>
</html>