<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>页面还原清单</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="/inc/html5shiv.min.js"></script>
    <style>
    * {
        box-sizing: border-box;
    }

    ul,
    li {
        list-style: none;
    }

    .line_ul>li{
    	clear:both;
    }

    .line_ul ul li {
    	width:33%;
    	height:2em;
    	line-height:2em;
        float: left;
        text-align: center;
        border: solid 1px #666;
        border-collapse: collapse;
    }

    .line_ul ul.title li {
        font-weight: bold;
    }

    section {
        width: 1200px;
        margin: 0 auto;
    }
    </style>
</head>

<body>
    <section role="main">
        <ul class="line_ul">
            <li>
                <ul class="title">
                    <li>页面</li>
                    <li>路径</li>
                    <li>负责人</li>
                </ul>
            </li>

            <li>
                <ul>
                    <li>首页</li>
                    <li><a href="/views/index.html" target="_blank">/views/index.html</a></li>
                    <li>白梦超</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>关于我们</li>
                    <li><a href="/views/AboutUs.html" target="_blank">/views/AboutUs.html</a></li>
                    <li>陈斌</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>旗下产品</li>
                    <li><a href="/views/Product.html" target="_blank">/views/Product.html</a></li>
                    <li>陈斌</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>常见问题</li>
                    <li><a href="/views/Question.html" target="_blank">/views/Question.html</a></li>
                    <li>陈斌</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>联系我们</li>
                    <li><a href="/views/Contact.html" target="_blank">/views/Contact.html</a></li>
                    <li>陈斌</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>加入我们</li>
                    <li><a href="/views/Join_us.html" target="_blank">/views/Join_us.html</a></li>
                    <li>陈斌</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>商务合作</li>
                    <li><a href="/views/Business.html" target="_blank">/views/Business.html</a></li>
                    <li>陈斌</li>
                </ul>
            </li>
    </section>
</body>

</html>
